<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>805821386957-pfqqef009irjgfuqqr1ku2v7brcr4q9e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.805821386957-pfqqef009irjgfuqqr1ku2v7brcr4q9e</string>
	<key>API_KEY</key>
	<string>AIzaSyCtLjQAENj1auAmAoO2EuwGq3wEWbrK0uc</string>
	<key>GCM_SENDER_ID</key>
	<string>805821386957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.project1</string>
	<key>PROJECT_ID</key>
	<string>fir-retirement-app</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-retirement-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:805821386957:ios:76d226e2e991c9241a5984</string>
</dict>
</plist>